.itempannel {
    position: absolute;
    left: 0;
    z-index: 2;
    padding-top: 8px;
    width: 200px;
    height: 100%;
    background: #305945;
    border-right: 1px solid #2dd885;
}
.itempannel ul {
    padding: 0;
    padding-left: 16px;
}
.itempannel li {
    width: 150px;
    height: 70px;
    color: #2dd885;
    text-align: center;
    border-radius: 4px;
    list-style-type: none;
}
.itempannel .pannelTypeIcon {
    display: block;
    margin: 0 auto;
    width: 42px;
    height: 42px;
    background: #2dd885;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
        0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.itempannel li:hover {
    background: #2dd885;
    cursor: move;
    color: #305945;
    .pannelTypeIcon {
        background: #305945;
    }
}
.detailpannel {
    position: absolute;
    right: 0;
    z-index: 2;
    width: 200px;
    height: 100%;
    background: #305945;
    border-left: 1px solid #2dd885;
}
.detailpannel .pannel {
    display: none;
}

.detailpannel .input {
    margin-left: 16px;
}
.detailpannel .name-input {
    width: 120px;
}
.detailpannel .width-input {
    width: 52px;
}
.detailpannel .height-input {
    width: 52px;
}
.detailpannel .blockContainer {
    padding: 16px 8px;
}
.bottomContainer {
    position: relative;
}
.pannelTitle {
    height: 32px;
    background: #2dd885;
    color: #000;
    line-height: 28px;
    padding-left: 12px;
}
.color-picker {
    vertical-align: middle;
    margin-left: 16px;
}
.p {
    margin-bottom: 12px;
}

/* .model-card{
    padding: 8px 14px;
    padding-right: 8px;
    font-size: 12px;
  }
  .left-bar{
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 4px 0px 0px 4px;
  }
  .type-icon {
    width: 20px;
    height: 16px;
    margin-top: -8px;
    display: inline-block;
    position: absolute;
    top: 50%;
  }
  .state-icon {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: 4px;
    position: absolute;
    top: 50%;
    right: 8px;
    display: inline-block;
  }
  .content-list {
    display: inline-block;
    min-width: 128px;
    margin: 0;
    margin-left: 20px;
    padding-left: 12px;
    list-style: none;
    color: rgba(0,0,0,0.45);
  }
  .model-card .title{
    color: #000000;
  } */
