.contextmenu {
    margin: 0;
    width: 200px;
    background: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 12px;
    display: none;
}
.contextmenu .disable {
    color: rgba(0, 0, 0, 0.25);
}
.contextmenu .command {
    height: 12px;
    padding: 8px;
    box-sizing: content-box;
}
.contextmenu .command:hover {
    cursor: pointer;
    background: #e6f7ff;
}
.contextmenu .command.disable:hover {
    cursor: default;
    background: none;
}
.contextmenu span:nth-of-type(1) {
    float: left;
}
.contextmenu span:nth-of-type(2) {
    float: right;
}
