.navigator {
    width: 200px;
    height: 176px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.navigator .slider {
    margin: 7px 10px 10px;
    float: left;
    width: 120px;
}
.navigator .minimap {
    width: 200px;
    height: 120px;
}
.zoomDropdownBtn {
    color: rgba(0, 0, 0, 0.45);
    margin-left: 4px;
    line-height: 24px;
    font-weight: 100;
    text-decoration: none;
}
.pannelTitle {
    padding-left: 12px;
    height: 32px;
    line-height: 28px;
    background: #2dd885;
    color: #000;
}

/* 调整滑块风格 */
:global {
    .ant-slider-handle {
        border-color: #2dd885 !important;
        &:focus {
            border-color: #2dd885 !important;
            box-shadow: 0 0 0 5px #2dd885 !important;
            outline: none;
        }
    }
    .ant-slider-track {
        background-color: #2dd885 !important;
    }
}
