.toolBox {
    display: table;
    justify-content: center;
    width: 500px;
    height: 100%;
    ul {
        background: #2dd885;
        display: table-cell;
        width: 200px;
        height: 300px;
        li {
            display: inline-block;
            width: 100%;
            text-align: center;
            height: 35px;
            border-bottom: 1px solid #70fcb8;
            a {
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                background: #305945;
                border-radius: 100%;
            }
        }
    }
    .receiverBox {
        background: #2dd885;
        display: table-cell;
        width: 200px;
        height: 300px;
        border: 1px solid #70fcb8;
        p {
            width: 30px;
            height: 30px;
            background: #305945;
            border-radius: 100%;
        }
    }
}
